.heading-1 {
  font-size: 9rem;
  color: $color-light-blue;
  text-transform: uppercase;
  line-height: 7rem;
  font-weight: 900;
  @include respond(tab-port-sm) {
    font-size: 3rem;
    line-height: 2.3rem;
  }

  &--body {
    font-size: 5.6rem;
    line-height: 4.5rem;
    text-transform: none;
    @include respond(tab-port) {
      font-size: 3.5rem;
      line-height: 3.2rem;
    }
  }
}
