$color-dark-blue: #000a37;
$color-light-blue: #0099ff;
$color-light-blue-2: #93c5fd;
$color-light-blue-3: #60a5fa;
$color-white: #fff;
$color-black: #000;
$color-grey: #f9fafb;

$font-montserrat: "Montserrat", sans-serif;
