@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif; }

.navbar {
  display: flex;
  flex-direction: column;
  position: relative; }
  .navbar__main {
    display: flex;
    justify-content: space-between;
    background-color: #000a37;
    padding: 0.5rem 1.6rem;
    align-items: center; }
  .navbar__brand__img {
    height: auto;
    width: 20rem; }
  .navbar__nav {
    display: flex;
    list-style: none;
    color: #fff;
    text-transform: uppercase; }
    @media only screen and (max-width: 56.25em) {
      .navbar__nav {
        display: none; } }
    .navbar__nav-item {
      padding: 1.2rem 1.6rem;
      cursor: pointer;
      transition: background-color 0.2s; }
      @media only screen and (max-width: 56.25em) {
        .navbar__nav-item {
          padding: 0; } }
      .navbar__nav-item:hover {
        background-color: #000; }
      .navbar__nav-item--link {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      @media only screen and (max-width: 56.25em) {
        .navbar__nav-item span {
          padding: 1.2rem 1.6rem;
          display: block; } }
    .navbar__nav__button {
      display: none;
      display: none;
      width: 2.8rem;
      height: 0.1rem;
      background-color: #fff;
      position: relative; }
      @media only screen and (max-width: 56.25em) {
        .navbar__nav__button {
          display: block; } }
      .navbar__nav__button::before, .navbar__nav__button::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 0.1rem;
        background-color: #fff; }
      .navbar__nav__button::before {
        top: -0.7rem; }
      .navbar__nav__button::after {
        bottom: -0.7rem; }
      @media only screen and (max-width: 56.25em) {
        .navbar__nav__button {
          display: block; } }
    .navbar__nav--mobile {
      display: none;
      background-color: #000a37;
      position: absolute;
      left: 0;
      right: 0;
      top: 8rem; }
    .navbar__nav__show {
      display: block; }
      @media only screen and (min-width: 56.25em) {
        .navbar__nav__show {
          display: none; } }
  .navbar__link, .navbar__link:visited, .navbar__link:link {
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase; }

.footer {
  background-color: #000a37;
  color: #fff;
  padding: 8rem 2.4rem 4rem 8rem; }
  .footer__heading {
    color: #93c5fd;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1.5rem; }
  .footer__main {
    display: flex; }
  .footer__contact, .footer__links, .footer__address {
    flex: 1; }
  .footer__links__top, .footer__links__bottom {
    display: flex; }
  .footer__links__bottom {
    margin-top: 2.5rem; }
    .footer__links__bottom .fab {
      color: #93c5fd;
      margin-right: 2.3rem;
      transition: transform 0.3s; }
      .footer__links__bottom .fab:hover {
        transform: scale(1.6); }
  .footer__links__left, .footer__links__right {
    flex: 1;
    list-style: none;
    margin-top: 1rem; }
  .footer__links__item {
    margin-bottom: 1.5rem; }
  .footer__address__image {
    height: auto;
    width: 20rem;
    display: block;
    margin-left: -1.5rem; }
  .footer__address__text {
    color: #93c5fd;
    line-height: 1.5;
    margin-top: 0.7rem; }
  .footer__credits__text {
    margin-top: 2rem;
    text-align: center;
    color: #93c5fd; }
  .footer__link, .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.2s; }
    .footer__link:hover, .footer__link:link:hover, .footer__link:visited:hover {
      color: #93c5fd; }

.dropdown {
  position: relative; }
  .dropdown__list {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 3.7rem;
    left: 0;
    right: -6rem;
    list-style: none;
    background-color: #000a37;
    border: 1px solid #000; }
    @media only screen and (max-width: 56.25em) {
      .dropdown__list {
        position: static;
        display: none;
        border: none; } }
    .dropdown__list-item {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      transition: background-color 0.2s; }
      .dropdown__list-item:hover {
        background-color: #000; }
  .dropdown__link, .dropdown__link:visited, .dropdown__link:link {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    padding: 1.2rem 3.2rem; }
  .dropdown:hover .dropdown__list {
    visibility: visible;
    opacity: 1; }
    @media only screen and (max-width: 56.25em) {
      .dropdown:hover .dropdown__list {
        display: block; } }
  .dropdown__active {
    background-color: #000; }

.form {
  display: flex;
  flex-direction: column;
  width: 85%; }
  .form__input {
    padding: 1.2rem 0 1.2rem 1rem;
    font-size: 1.6rem;
    outline: none;
    border: 2px solid #60a5fa;
    background-color: transparent;
    margin-bottom: 0.8rem;
    caret-color: #fff;
    color: #93c5fd;
    font-weight: 300;
    font-family: "Montserrat", sans-serif; }
    .form__input:focus {
      outline: #fff solid 1px;
      border-radius: 3px; }
    .form__input--textarea {
      height: 18rem; }
    .form__input::placeholder {
      font-family: "Montserrat", sans-serif; }
  .form__submit {
    border: none;
    background-color: #60a5fa;
    margin-top: 0.8rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    padding: 1rem 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    transition: background-color 0.3s;
    cursor: pointer; }
    .form__submit:hover {
      background-color: #0099ff; }
